name: Build and Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # continue other jobs if one in matrix fails
      matrix:
        npm-command: ["lint", "build", "test", "prettier-check-all"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: "./.tool-versions"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"
      # Override npm installed above with version specified in package.json
      - run: ./npm-setup.sh
      - run: npm install
      - run: npm run ${{ matrix.npm-command }}
